.grid-container {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.card-container {
    display: flex;
    flex-direction: row;
    width: 450px;
    flex-wrap: wrap;
}

.button {
    height: 40px;
    border-radius: 32px;
    border-width: 1.4px;
    width: 100px;
    margin-bottom: 20px;
    background-color: white;
    border-color:black;
}

.submit-active {
    background-color: black;
    color: white;
    border: unset;
}

.submit-disabled {
    border-color: #7F7F7F;
    color: #7F7F7F;
}

.submit-button:active {
    transform: scale(0.99);
}

.guess-row {
    display: flex;
    flex-direction: row;
}

.guess-box {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    margin: 2px 0px;
}

.mistakes-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mistake-dot {
    background-color: #58574D;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    margin-top: 4px;
    margin-left: 4px;
}